@use "../../styles/theme.scss" as *;

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.25rem;
  background: var(--nav-bg);
  z-index: 1000;

  .company-title {
    display: flex;
    align-items: center;
    gap: 0.7rem;
  }

  .company-logo {
    height: 36px;
  }

  .company-name {
    font-size: 1.6rem;
    margin: 0;
  }

  .nav-links {
    display: flex;
    gap: 1.5rem;
  }

  /* HAMBURGER */
  .menu-btn {
    display: none;
    width: 36px;
    height: 36px;
    background: transparent;
    border: none;
    cursor: pointer;
    
    flex-direction: column;
    justify-content: center;
    gap: 6px;

    span {
      width: 22px;
      height: 2.5px;
      
      background-color: var(--nav-text);
      border-radius: 4px;
      transition: 0.4s ease;
    }

    &.open span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }

    &.open span:nth-child(2) {
      opacity: 0;
    }

    &.open span:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }

  @include mobile {
    .nav-links {
      display: none;
    }

    .menu-btn {
      display: flex;
      
    }

    .company-name {
      font-size: 1.4rem;
    }
  }
}

/* OVERLAY */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(4px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
  z-index: 998;

  &.show {
    opacity: 1;
    pointer-events: auto;
  }
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100vh;
  background: var(--bg-2);
  transform: translateX(-100%);
  transition: transform 0.45s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
  padding: 1.5rem;
  
  &.open {
    transform: translateX(0);
  }

  .close-btn {
    background: none;
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
    margin-bottom: 2rem;
    color: var(--nav-text);
  }

  .sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
  }
}
